@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.header {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
}

.settings {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
}

.footer {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
}

h1 {
    font-size: 1.5rem;
}

.buttonRed {
    background-color: #f03e3e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonRed:hover {
    background-color: #dd3939;
}

.buttonYellow {
    background-color: #ffdd00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonYellow:hover {
    background-color: #d3b700;
}

.buttonGreen {
  background-color: #4Caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonGreen:hover {
    background-color: #45a049;
}
